::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #36393f;
}
::-webkit-scrollbar-thumb {
  background-color: #e705cd;
  border-radius: 8px;
  border: solid 2px #36393f;
}


body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #6c7279;
  -webkit-font-smoothing: antialiased;
}

/* HEADER */
.header {
position: absolute;
top: 0;
left: 20%;
z-index: 1000;
padding: 35px 0;
}
/* CONTAINER */
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #515369;
  align-items: center;
}
.nav {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.nav__link {
  margin-left: 50px;
  color: #fff;
  text-decoration: none;
  opacity: 0.75;
  transition: opacity 0.1s linear;
}
.nav__link:hover {
  opacity: 1;
  text-decoration: none;
}
/* TOPCHIK */
.topchik {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 750px;
  padding-top: 100px;
  background-color: #FF00FF;
  background: url('/topfon.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  
}
